{"name":"Numinar","slug":"numinar","extra":{"eas":{"projectId":"690023b7-7c29-48ba-a024-2757d50beed2"}},"runtimeVersion":"10.0.0","updates":{"enabled":true,"url":"https://u.expo.dev/690023b7-7c29-48ba-a024-2757d50beed2","checkAutomatically":"ON_LOAD"},"version":"1.0.0","sdkVersion":"55.0.0","platforms":["ios","android","web"]}